*{
    margin: 0px;
    padding:0px;
    color: white;
}
.ac-globalnav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px)
}

.inline_block{
    display: inline-block;
}
#li_apple_icon,#li_mac,#li_watch,#li_ipad,#li_iphone,#li_tv,#li_music,#li_search,#li_shop,#li_support{
    margin-left: 7%;
}
#li_support{
    margin-right: 0px;
}
.appleicon_down_content{
    display: none;
}
.inline_block:hover{
    opacity: 0.5;
}
#nav_content{
    width: 100%;
}
#nav_ul{
    width: 80%;
    margin: 0 auto;
}